
@import  url( 'https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap' );

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    

    --fonte-primaria: 'Krona One' , sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    
}
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    
}

.cabecalho {
    padding: 2% 0% 0% 10%;
    
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    width: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6% 15%;
    gap: 82px;
}

.titulo-principal__index {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.paragrafo-principal__index {
    font-size: 1.5rem;
    font-family : var(--fonte-secundaria);
}


.botoes__index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitulo__index {
    font-family :  var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes-link__index {
    font-size: 1.5rem;
    font-weight: 600;
    /*background-color: #22D4FD;*/
    width: 60%;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family :  var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.botoes-link__index:hover {
    background-color: var(--cor-hover);
    padding: 0.5em 1em;
}

.conteudo-apresentacao__index {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque__index {
    color: var(--cor-terciaria)
}

.foto__index {
    width: 50%;
    box-shadow: 20px 20px 20px var(--cor-terciaria);
}

.rodape {
    font-family:var(--fonte-secundaria);
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
}



