@import url("styles/about.css");
@import url("styles/curriculo.css");
@import  url( 'https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap' );

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One' , sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    
}
* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    text-align: center;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
    width: 0 2em 0 2em;
}

.cabecalho-link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    width: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__index {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 82px;
}

.titulo-principal__index {
    font-size: 1.75rem;
    font-family: var(--fonte-primaria);
    padding: 1em 2em 0 2em;
}

.paragrafo-principal__index {
    font-size: 1.5rem;
    font-family : var(--fonte-secundaria);
}


.botoes__index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: auto;
    padding: 1em;
}

.subtitulo__index {
    font-family :  var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes-link__index {
    font-size: 1.5rem;
    font-weight: 600;
    /*background-color: #22D4FD;*/
    width: 10em;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family :  var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.botoes-link__index:hover {
    background-color: var(--cor-hover);
    padding: 1em;
}

.conteudo-apresentacao__index {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque__index {
    color: var(--cor-terciaria)
}


.rodape {
    font-family:var(--fonte-secundaria);
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.foto__index {
    display: none;
}

.corpo__index {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 3em;
}

@media screen and (min-width: 1024px) {
    
.cabecalho {
    display: flex;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;

}

.cabecalho-link {
    display: flex;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    width: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
}

    
    .rodape {
        width: auto;
    }

    .paragrafo-principal__index {
        text-align: center;
    }

    .botoes-link__index {
        
        padding: 1em;
    }
    
}