

@import  url( 'https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap' );

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One' , sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    font-family: var(--fonte-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
    
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    width: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-principal__about {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.apresentacao__about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6% 15%;
    
}

.conteudo-apresentacao__about {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.paragrafo-principal__about {
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 19px;
}

.rodape {
    font-family:var(--fonte-secundaria);
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
    
    .cabecalho {
        display: flex;
        text-align: center;
        width: auto;
    }
    
    .cabecalho-menu {
        display: flex;
        gap: 80px;
    }
    
    .cabecalho-link {
        display: flex;
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        width: 600;
        color: var(--cor-terciaria);
        text-decoration: none;
        text-align: center;
        justify-content: space-between;
    }
    
        
        .rodape {
            width: auto;
        }
    
        .paragrafo-principal__index {
            text-align: center;
        }
    
        .botoes-link__index {
            
            padding: 1em;
        }
        
    }
